# Dipendenze
node_modules/
node_modules/*
npm-debug.log

# Variabili sensibili
.env

# File di sistema
.DS_Store
Thumbs.db

# Log e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor e build
.vscode/
.idea/
dist/
build/
coverage/
